 * {
  margin: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
 }

.text-general {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

body {
  background: radial-gradient(circle, #e09f3e, #9e2a2b);
}

header {
  align-items: center;
  display: flex;
  background: radial-gradient(circle, #fff3b0, #e09f3e);
  background-color: #fff3b0;
  border: 10px double #9e2a2b;
  justify-content: space-between;
  margin-bottom: 2vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

main {
  padding: 5%;
}

.turing-logo {
  height: 4vw;
  margin-right: 1.3vw;
  width: 4vw;
}

.title-area {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-left: 5vw;
}

nav {
  display: flex;
  height: 2.5vw;
  justify-content: space-around;
  margin-right: 5vw;
  width: 40%;
}

.top-button {
  border: 2px;
  border-color: #E99B3D;
  border-radius: 1vw;
  border-style: solid;
  font-style: italic;
  font-size: 1.1vw;
}

.top-button:hover {
  color: #E99B3D;
  cursor: pointer;
  text-decoration: underline;
}

.hidden {
  display: none!important;
}

p {
  align-content: center;
  color: #353431;
  font-size: 30px;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
}

span {
    align-content: center;
    color: #335c67;
    font-size: 18px;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
}

.login-form, .avail-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:1.5%;
}

.form-field {
  padding: 1.5%;
  width: inherit;
}

.message {
  background-color: #E99B3D;
  filter: brightness(80%);
  margin: 1em;
  padding: 1em;
}

.card-grid {
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: inherit;
  justify-content: center;
  padding-left: 0;
  z-index: -1;
}

.room-card {
  align-items: center;
  border-color: #540b0e;
  border-radius: 1vw;
  border-style: solid;
  border-width: .5vw;
  color: #353431;
  display: flex;
  flex-basis: 30.1%;
  flex-direction: column;
  font-size: 1vw;
  height: inherit;
  justify-content: flex-start;
  list-style: none;
  margin: 1.5vw;
  max-width: inherit;
  pointer-events: none;
  text-align: center;
  z-index: 1;
}

.room-info {
  display: flex;
  flex-direction: row;
}

.booking-card {
  align-items: center;
  border-color: #540b0e;
  border-radius: 1vw;
  border-style: solid;
  border-width: .5vw;
  color: #353431;
  display: flex;
  flex-direction: column;
  flex-basis: 30.1%;
  font-size: 12px;
  height: inherit;
  justify-content: flex-start;
  list-style: none;
  margin: 1.5vw;
  pointer-events: none;
  text-align: center;
  width: inherit;
}

.info {
  padding: 2px;
}

.room-button  {
  background-color: #e09f3e;
  border: 2px;
  border-color: #9e2a2b;
  border-radius: 1vw;
  border-style: solid;
  font-style: italic;
  font-size: 12px;
}

.room-button:hover  {
  border-color: #353431;
  cursor: pointer;
  color: #E99B3D;
}

.gallery-image-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.small-pics {
  display: flex;
  justify-content: center;
}

.large-gallery-pic {
  height: 60vh;
  padding: 2%;
  width: 90vw;
}

.gallery-pic {
  height: 30VH;
  max-height: 175px;
  max-width: 325px;
  padding: 2%;
  width: 45vw;
}

.staff-pic {
  padding-top: 5%;
  width: 80vw;
}